@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  src: url('./../../public/fonts/jetbrains-mono-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('./../../public/fonts/jetbrains-mono-700.woff2') format('woff2');
}
