.wrapper {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  height: 42px;
  display: flex;
  align-items: center;
  padding: 0 16px 0 4px;
  gap: 12px;
  width: max-content;

  svg {
    opacity: 0.2;
    transition: 0.2s opacity ease-in-out;
  }

  button {
    cursor: pointer;
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover svg {
      opacity: 0.4;
    }

    &:active svg {
      opacity: 0.2;
    }
  }
}
