.wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    z-index: 10;
    pointer-events: none;
    transition: ease-in-out;
    transition-duration: 0.6s, 0.3s;
    transition-property: transform, opacity;
    background: #181818;
  }
}

.wrapperRouting {
  &::before {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    transition: ease-in-out;
    transition-duration: 0.6s, 0.3s;
    transition-property: transform, opacity;
  }
}

.content {
  display: flex;
  align-items: center;
  position: fixed;
  gap: 24px;
  z-index: 1;
  left: 2%;
  top: 2%;
  width: max-content;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.link {
  text-decoration: none;
  font-size: 28px;
  letter-spacing: -2px;
  font-weight: 300;
  text-transform: uppercase;
  opacity: 0.4;
  transition: 0.2s opacity ease-in-out;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 10px;

  svg {
    width: 20px;
    transition: 1.4s ease-in-out transform;
  }

  &:hover {
    opacity: 0.2;

    svg {
      animation: pulse 1s ease-in-out infinite;
    }
  }

  &:active {
    opacity: 0.2;
  }
}

.fullScreenOverlay {
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bamButton {
  background: none;
  font-size: 50px;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  margin-top: 30px;

  &:hover {
    color: red;
    border: 2px solid red;
  }
}

@keyframes slideIn {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-100%);
  }
}

@keyframes pulse {
  0% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}
